@font-face {
    font-family: "Courier New", Courier, monospace;
    src: url("fonts/cour.ttf");
}

body {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    background-color: beige;
    color: black;
    text-align: center;
}

#banner {
    font-size: 200%;
}

#info {
    font-size: 75%;
}

.box {
    display: flex;
    width: 40%;
    height: auto;
    padding: 24px;
    border: 20px solid black;
    margin-top: 5%;
    margin: 5%;
}
