@font-face {
    font-family: 'Courier New', Courier, monospace;
    src:
        local("Courier New"),
        url("resources/fonts/cour.ttf");
}

body {
    display: flex;
    font-family: "Courier New", Courier, monospace;
    background-color: beige;
    color: black;
    text-align: center;
}

#pages {
    display: inline-block;
}